<nav class="navbar bg-light navbar-light">
    <div class="container">
        <a href="/" class="navbar-brand"><%= lang("brand") %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav-menu"
            aria-controls="navbarNav-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav-menu">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"><%= lang('links')['home'] %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user"><%= validated ? lang("links")['profile'] : lang("links")['login'] %></a>
                    <% if (validated) { %>
                        <a class="nav-link" href="/user/logout"><%= lang("links")['logout'] %></a>
                    <% } else { %>
                        <a class="nav-link" href="/user/register"><%= lang("links")['register'] %></a>
                    <% } %>
                </li>
            </ul>
            <form class="d-flex m-2">
                <input class="form-control me-2" type="text" placeholder="검색" aria-label="Search">
                <input value="검색" type="button" class="submit btn btn-outline-dark">
              </form>
        </div>
    </div>
</nav>