<% if(!validated) {%>
    <script type="text/javascript">
        alert("<%= lang('user')['loginInvalid'] %>");
        location.href = "/user";
    </script>
<% } %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= lang('pageTitles')['user'] %></title>
        <%- include(viewDir('./_head')) %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js"></script>
        <script type="text/javascript">
            const positions = "<%= positions %>".split(",");

            function mysql_real_escape_string(str) {
                if (typeof str != "string") return str;

                return str.replace(/[\0\x08\x09\x1a\n\r"'\\\%]/g, function (char) {
                    switch (char) {
                        case "\0":
                            return "\\0";
                        case "\x08":
                            return "\\b";
                        case "\x09":
                            return "\\t";
                        case "\x1a":
                            return "\\z";
                        case "\n":
                            return "\\n";
                        case "\r":
                            return "\\r";
                        case '"':
                        case "'":
                        case "\\":
                        case "%":
                            return "\\" + char; // prepends a backslash to backslash, percent,
                        // and double/single quotes
                    }
                });
            }

            function check(d) {
                return d == '<%= user.position %>';
            }

            $(document).ready(function() {
                $.ajax({
                    url: "/positions",
                    method: "GET"
                }).then(data => {
                    if(data) {
                        let output = "<option value='' disabled><%= lang('user')['index']['positionCheck'] %></option>";
                        for(var i in Object.keys(data)) {
                            let key = Object.keys(data)[i];
                            let value = data[key];
                            
                            let k = `
                                <option value="${key}" ${check(key) ? "selected" : ""}>${value}</option>
                            `;
                            output += k;
                        }
                        $("#positions").html(output);
                    }
                }).fail(() => {
                    console.log("Could not load positions list!");
                });

                function enterRespond(e) {
                    if(e.which == 13) {
                        $("#submitBtn1").click();
                    }
                }

                $("#password_alt_re").keyup(enterRespond);

                $("#submitBtn1").click(function() {
                    if($("#password_cur").val().trim() == "" || $("#password_alt").val().trim() == "" || $("#password_alt_re").val().trim() == "") {
                        alert("<%= lang('user')['index']['form1-cursor-blank'] %>");
                    } else {
                        let cur = CryptoJS.SHA256($("#password_cur").val()).toString();
                        let alt = CryptoJS.SHA256($("#password_alt").val()).toString();
                        let alt_re = CryptoJS.SHA256($("#password_alt_re").val()).toString();

                        if($("#password_alt").val() == $("#password_alt_re").val()) {
                            $("#password_cur").val(cur);
                            $("#password_alt").val(alt);
                            $("#password_alt_re").val(alt_re);
                            $("#passwordAlterForm").submit();
                        }
                        else alert("<%= lang('user')['index']['newPW-nM'] %>");
                    }
                });

                $("#submitBtn2").click(function() {
                    $.ajax({
                        url: "/code",
                        method: "GET"
                    }).then(json => {
                        if(json) {
                            if(json.data) {
                                let data = json.data;
                                let output = "<option value='' disabled><%= lang('user')['index']['positionCheck'] %></option>";
                                for(var i in Object.keys(data)) {
                                    let key = Object.keys(data)[i];
                                    let value = Object.keys(data)[i];
                                    
                                    let k = `
                                        <option value="${key}" ${check(value) ? "selected" : ""}>${value}</option>
                                    `;
                                    output += k;
                                }
                                $("#positions").html(output);
                            }
                        }
                    }).fail(() => {
                        console.log("Could not load positions list!");
                    });
                })

                $("#submitBtn3").click(function () {
                    if(positions.includes($("#positions").val())) $("#positionRequestForm").submit();
                    else alert("적절한 직책만 요청할 수 있습니다!");
                });
            });
        </script>
    </head>
    <body>
        <div class="wrapper">
            <%- include(viewDir('./_navbar')) %>
            <div id="content" class="container-fluid">
                <header><h2 id="pageTitle"><%= lang('pageTitles')['user'] %></h2></header>
                <article>
                    <div class="container-md">
                        <div id="outer" style="display: flex">
                            <section id="s1">
                                <div id="inner">
                                    <div id="name" class="row">
                                        <div class="col-sm-7"><span style="font-family: 'BKKGothic Bold'; font-size: 1.4em;"><%= user.name %></span> <%= lang("user")['index']['sama'] %></div>
                                        <div class="col-sm-3"><input type="button" class="btn btn-sm btn-secondary" onclick="location.href = '/user/logout'" value="<%= lang('links')['logout'] %>" /></div>
                                    </div>
                                    <hr>
                                    <div id="username">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="username0"><%= stylingEmojis.USERNAME %></span>
                                            <input type="text" id="username" name="username" readonly class="form-control" placeholder="<%= lang('user')['login']['placeholder_username'] %>" aria-label="<%= lang('user')['login']['placeholder_username'] %>" value="<%= user.username %>" aria-describedby="username0" />
                                        </div>
                                    </div>
                                    <div id="password">
                                        <form name="passwordAlterForm" id="passwordAlterForm" action="/user/password/<%= user.id %>" method="POST">
                                            <input type="hidden" name="_csrf", value="<%= _csrf %>" />
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="password0"><%= stylingEmojis.PASSWORD %></span>
                                                <input type="password" id="password_cur" name="password" class="form-control" placeholder="<%= lang('user')['index']['curPW'] %>" aria-label="<%= lang('user')['index']['curPW'] %>" aria-describedby="password0" />
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="password2"><%= stylingEmojis.PASSWORD %></span>
                                                <input type="password" id="password_alt" name="password_alt" class="form-control" placeholder="<%= lang('user')['index']['newPW'] %>" aria-label="<%= lang('user')['index']['newPW'] %>" aria-describedby="password2" />
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="password3"><%= stylingEmojis.PASSWORD %></span>
                                                <input type="password" id="password_alt_re" name="password_alt_re" class="form-control" placeholder="<%= lang('user')['index']['newPW-c'] %>" aria-label="<%= lang('user')['index']['newPW-c'] %>" aria-describedby="password3" />
                                            </div>
                                            <input class="btn btn-info" id="submitBtn1" type="button" value="<%= lang('user')['index']['pwchange'] %>" />
                                        </form>
                                    </div>
                                    <div id="code">
                                        <form name="codeCheckForm" id="codeCheckForm">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="code0"><%= stylingEmojis.CODE %></span>
                                                <input type="number" id="code" name="code" class="form-control" placeholder="<%= lang('user')['index']['code'] %>" aria-label="<%= lang('user')['index']['code'] %>" aria-describedby="code0" />
                                            </div>
                                            <input class="btn btn-info" id="submitBtn2" type="button" value="<%= lang('user')['index']['code_confirm'] %>" />
                                        </form>
                                    </div>
                                    <p style="font-size: 0.2em;"></p>
                                    <div id="position">
                                        <form name="positionRequestForm" id="positionRequestForm" action="/positions/request" method="POST">
                                            <input type="hidden" name="_csrf", value="<%= _csrf %>" />
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="position0"><%= stylingEmojis.POSITION %></span>
                                                <select name="position" id="positions" aria-label="직책" aria-describedby="position0" class="form-control">
                                                </select>
                                            </div>
                                            <input class="btn btn-light" id="submitBtn3" type="button" value="직책 변경 요청" />
                                        </form>
                                    </div>
                                </div>
                            </section>
                            <section id="s2">
                                dwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadawdwadaw
                            </section>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                </article>
                <%- include(viewDir("./aside/index")) %>
            </div>
        </div>
        <%- include(viewDir('./.footer')) %>
    </body>
    <%- include(viewDir('./_bottom')) %>
</html>