<% if(!validated) {%>
    <script type="text/javascript">
        alert("로그인 상태가 해제되어 있습니다. 로그인 페이지로 이동합니다.");
        location.href = "/user";
    </script>
<% } %>
<!DOCTYPE html>
<html>
    <head>
        <title>RSPP 회원</title>
        <%- include(viewDir('./_head')) %>
    </head>
    <body>
        <div class="wrapper">
            <%- include(viewDir('./_navbar')) %>
            <div id="content" class="container-fluid">
                <header><h2 id="pageTitle">RSPP 회랑</h2></header>
                <article>
                    <div class="container-md">
                        <section>
                            <div id="name"></div>
                            <hr>
                            <div id="username"></div>
                            <div id="password">
                                <form name="passwordAlterForm" id="passwordAlterForm" action="/user/password/<%= user.id %>" method="POST">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="password0">🔐</span>
                                        <input type="password" id="password3" name="password" class="form-control" placeholder="기존 비밀번호" aria-label="기존 비밀번호" aria-describedby="password0" />
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="password1">🔐</span>
                                        <input type="password" id="password3" name="password" class="form-control" placeholder="신규 비밀번호" aria-label="신규 비밀번호" aria-describedby="password1" />
                                    </div>
                                </form>
                            </div>
                            <div id="code"></div>
                            <div id="position"></div>
                        </section>
                    </div>
                    <div>&nbsp;</div>
                </article>
                <%- include(viewDir("./aside/index")) %>
            </div>
        </div>
        <%- include(viewDir('./.footer')) %>
    </body>
    <%- include(viewDir('./_bottom')) %>
</html>
