<!DOCTYPE html>
<html>
    <head>
        <title><%= lang("pageTitles")["user-login"] %></title>
        <%- include(viewDir('./_head')) %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js"></script>
        <script type="text/javascript">
            function mysql_real_escape_string(str) {
                if (typeof str != "string") return str;

                return str.replace(/[\0\x08\x09\x1a\n\r"'\\\%]/g, function (char) {
                    switch (char) {
                        case "\0":
                            return "\\0";
                        case "\x08":
                            return "\\b";
                        case "\x09":
                            return "\\t";
                        case "\x1a":
                            return "\\z";
                        case "\n":
                            return "\\n";
                        case "\r":
                            return "\\r";
                        case '"':
                        case "'":
                        case "\\":
                        case "%":
                            return "\\" + char; // prepends a backslash to backslash, percent,
                        // and double/single quotes
                    }
                });
            }

            $(document).ready(function() {
                let k = new URL(document.URL).searchParams.get("url");
                if(k) $("#loginForm").attr("action", "/user?url=" + mysql_real_escape_string(k));

                function enterRespond(e) {
                    if(e.which == 13) {
                        $("#submitBtn").click();
                    }
                }

                $("#username").keyup(enterRespond);
                $("#password3").keyup(enterRespond);

                $("#submitBtn").click(function() {
                    if($("#username").val().length > 10) {
                        alert("<%= lang('user')['login']['RUN'] %>");
                        return;
                    }

                    if($("#password3").val().trim() == "") {
                        alert("<%= lang('user')['login']['PWE'] %>");
                        return;
                    }
                    $("#password3").val(CryptoJS.SHA256($("#password3").val()).toString());

                    $("#loginForm").submit();
                });
            });
        </script>
    </head>
    <body>
        <div class="wrapper">
            <%- include(viewDir('./_navbar')) %>
            <div id="content" class="container-fluid">
                <header><h2 id="pageTitle"><%= lang("pageTitles")["user-login"] %></h2></header>
                <article>
                    <div class="container-md">
                        <section>
                            <div id="form">
                                <form name="loginForm" id="loginForm" action="/user" method="post">
                                    <input type="hidden" name="_csrf", value="<%= _csrf %>" />
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="username0"><%= stylingEmojis.USERNAME %></span>
                                        <input type="text" id="username" name="username" class="form-control" placeholder="<%= lang('user')['login']['placeholder_username'] %>" aria-label="<%= lang('user')['login']['placeholder_username'] %>" aria-describedby="username0" />
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="password0"><%= stylingEmojis.PASSWORD %></span>
                                        <input type="password" id="password3" name="password" class="form-control" placeholder="<%= lang('user')['login']['placeholder_password'] %>" aria-label="<%= lang('user')['login']['placeholder_password'] %>" aria-describedby="password0" />
                                    </div>
                                    <input class="btn btn-primary" id="submitBtn" type="button" value="<%= lang('user')['login'].submitBtn %>" />
                                </form>
                            </div>
                        </section>
                    </div>
                    <div>&nbsp;</div>
                </article>
                <%- include(viewDir("./aside/index")) %>
            </div>
        </div>
        <%- include(viewDir('./.footer')) %>
    </body>
    <%- include(viewDir('./_bottom')) %>
</html>
